# Python cache
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
env/
venv/
ENV/

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/

# IDE / editors
.vscode/
.idea/

# SonarQube
.sonar/
.scannerwork/

# OS files
.DS_Store
Thumbs.db


# pytest coverage report
coverage.xml